<section class="loginbox">
    <h2 class="h2-title">Crie sua própria sala</h2>
    <form action="/create-room" method="post">
        <label class="sr-only" for-id="password-id">Insira uma senha</label>
        <input type="password" name="password" id="password-id" placeholder="Insira uma senha">
            <button>
                <img src="/images/users-white.svg" alt="Criar sala">
                Entrar na sala
            </button>
    </form>
</section>