<div class="container-noquestion">
    <img alt="Sem Perguntas"src="/images/noquestions.svg" />
    <h3>Nenhuma Pergunta por aqui...</h3>
    <p>Faça sua primeira pergunta e envie o </br> código  dessa sala para outras pessoas!</p>
</div>

    